<!--=== Content Part ===-->
<div class="container content-sm">
  <div class="text-center margin-bottom-50">
    <h2 class="title-v2 title-center">IN A WAY, WE ARE ALL MATT HUSAR</h2>
    <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
  </div>
</div><!--/container-->
<!--=== End Content Part ===-->